footer{
    background-color: rgb(255, 41, 3);
}

p {
    text-align: center;
    color: whitesmoke;

    a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.5rem;
        transition: .5s;

        &:hover {
            color: #0f0000;
        }

    }
}