#description {
    font-size: 1.2em;
    // text-align: center;
    padding: 0 20px;
    width: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
}

#converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 30px 1rem;
    display: block;
    width: 60%;
    margin: 0 auto;
    background-color: whitesmoke;

    label,
    input {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 1.2rem;
        width: fit-content;
    }

    input {
        max-width: 5rem;
        width: 100%;
    }

    div {
        margin: 20px auto;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    button {
        margin-top: 10px;
        width: 100%;
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}

@media (max-width: 1200px) {
    #converter {
        width: 90%;
        padding: 5px 1rem;

        label,
        input {
            font-size: 1em;
        }

        div {
            font-size: 1rem;
        }
        button {
            font-size: 1rem;
        }
    }
}
@media (max-width: 768px){
    #converter {
        width: 100%;
        padding: 5px 1rem;

        label,
        input {
            font-size: 0.8em;
        }

        div {
            font-size: 0.8rem;
        }
        button {
            font-size: 0.8rem;
        }
    }
}