/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    // height: 100%;
    background-color: rgba(255, 99, 71, 0.406);
   
}

body {
    display: flex;
    flex-direction: column;
}
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex-grow: 1;
    width: 80%;
    margin: 0 auto;
    background-color: tomato;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 2.5em;

}

@media (max-width: 768px) {
    main {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }

}

@media (max-width: 600px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

}