<h1>Hem</h1>


<div class="home-content">
    <h2>Angular I</h2>
    <p>Startsida för Moment 3 i Typescriptkursen -<a href="https://www.miun.se/utbildning/program/webbutveckling/"> Webbutvecklingsprogrammet</a> på <a href="miun.se">Mitthögskolan.</a> </p>
    <nav title="Navigering">
        <ul>
            <li> På webbplasten finns en <a href="/convert">konverterare</a> mellan olika måttenheter. <br></li>
            <li>På sidan <a href="/about">Om</a> finns information om uppgiften och lösningen. <br></li>
        </ul>
       
        
    </nav>
</div>